/* header {
  width: 20%;
  height: 100vh;
  background-color: white;
  float: right;
  padding: 3% 30px 0px 45px;
  display: flex;
  flex-direction: column;
  gap: 45px;
} */
header {
  display: inline;
  position: fixed;

  z-index: 3;
}
nav {
  width: 20%;
  height: 100vh;
  background-color: white;
  float: left;
  padding: 2% 30px 0px 45px;
  display: flex;
  flex-direction: column;
  color: black;
  display: block;
  z-index: 1;
  position: fixed;
}

.close_btn {
  background-color: lightgrey;
  width: 100px;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;

  margin-bottom: 60px;
}

.open_btn {
  background-color: rgb(255, 255, 255);
  width: 100px;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  margin: 15% 30px 0px 45px;
  background-color: rgb(255, 255, 255);
  opacity: 0.3;
}

.open_btn:hover {
  cursor: grab;
}
.close_btn:hover {
  cursor: grab;
}

.menu_box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 17px;
  font-weight: 520;
}

.sns_box {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

.sns {
  border-radius: 9999px;
  border: 1px solid black;
  padding: 9px;
}
